<!--DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>

    <p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>今日は素晴らしい</td>
        <td>1日ですね</td>
        <td><a href="/books/636">Show</a></td>
        <td><a href="/books/636/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/636">Destroy</a></td>
      </tr>
      <tr>
        <td>ssssss</td>
        <td>dddd</td>
        <td><a href="/books/637">Show</a></td>
        <td><a href="/books/637/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/637">Destroy</a></td>
      </tr>
      <tr>
        <td>hoho</td>
        <td>hohoho</td>
        <td><a href="/books/638">Show</a></td>
        <td><a href="/books/638/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/638">Destroy</a></td>
      </tr>
      <tr>
        <td>jin</td>
        <td>99999999</td>
        <td><a href="/books/639">Show</a></td>
        <td><a href="/books/639/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/639">Destroy</a></td>
      </tr>
      <tr>
        <td>mmasls</td>
        <td>;sal;af;f</td>
        <td><a href="/books/640">Show</a></td>
        <td><a href="/books/640/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/640">Destroy</a></td>
      </tr>
      <tr>
        <td>qwer</td>
        <td>qwer</td>
        <td><a href="/books/588">Show</a></td>
        <td><a href="/books/588/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/588">Destroy</a></td>
      </tr>
      <tr>
        <td>gh</td>
        <td>hh</td>
        <td><a href="/books/590">Show</a></td>
        <td><a href="/books/590/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/590">Destroy</a></td>
      </tr>
      <tr>
        <td>ss</td>
        <td>see
</td>
        <td><a href="/books/591">Show</a></td>
        <td><a href="/books/591/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/591">Destroy</a></td>
      </tr>
      <tr>
        <td>jj</td>
        <td>jkkjjj</td>
        <td><a href="/books/592">Show</a></td>
        <td><a href="/books/592/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/592">Destroy</a></td>
      </tr>
      <tr>
        <td>12345</td>
        <td>12345</td>
        <td><a href="/books/561">Show</a></td>
        <td><a href="/books/561/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/561">Destroy</a></td>
      </tr>
      <tr>
        <td>asdf</td>
        <td>asdf</td>
        <td><a href="/books/563">Show</a></td>
        <td><a href="/books/563/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/563">Destroy</a></td>
      </tr>
      <tr>
        <td>dfgfg</td>
        <td>vcbbg
</td>
        <td><a href="/books/595">Show</a></td>
        <td><a href="/books/595/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/595">Destroy</a></td>
      </tr>
      <tr>
        <td>a</td>
        <td>あ</td>
        <td><a href="/books/598">Show</a></td>
        <td><a href="/books/598/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/598">Destroy</a></td>
      </tr>
      <tr>
        <td>3/10</td>
        <td>test</td>
        <td><a href="/books/605">Show</a></td>
        <td><a href="/books/605/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/605">Destroy</a></td>
      </tr>
      <tr>
        <td>10000</td>
        <td>２００００</td>
        <td><a href="/books/607">Show</a></td>
        <td><a href="/books/607/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/607">Destroy</a></td>
      </tr>
      <tr>
        <td>a</td>
        <td>q</td>
        <td><a href="/books/516">Show</a></td>
        <td><a href="/books/516/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/516">Destroy</a></td>
      </tr>
      <tr>
        <td>core</td>
        <td>win</td>
        <td><a href="/books/609">Show</a></td>
        <td><a href="/books/609/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/609">Destroy</a></td>
      </tr>
      <tr>
        <td>w.chan</td>
        <td>kim</td>
        <td><a href="/books/611">Show</a></td>
        <td><a href="/books/611/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/611">Destroy</a></td>
      </tr>
      <tr>
        <td>STAR WARS</td>
        <td>EPISODE4</td>
        <td><a href="/books/612">Show</a></td>
        <td><a href="/books/612/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/612">Destroy</a></td>
      </tr>
      <tr>
        <td>jklj</td>
        <td>nmjn</td>
        <td><a href="/books/616">Show</a></td>
        <td><a href="/books/616/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/616">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="wyX87e5NtoKlyk+NldhMgDp++9VPUvaTGsw2bCjusbV2iHIGCgJOCP/kvePc6Tr2DVfSXQ8CaUFkQN9BBFPpUA==">

  <div class="field">
    <label for="book_title">Title</label>
    <input type="text" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
</form>



    <%= yield %>
  </body>
</html>
